body {
    margin: 0;
    padding: 0;
    background: #111;   
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.navbar .dc-logo {
    width: 60px;
}

.about {
    width: 90%;
    font-size: 22px;
    color: #fff;
    margin: 100px auto;
}

.about-text {
    width: 80%;
    margin: 0 auto 80px auto;
}
.services-caption {
    font-size: 42px;
    font-weight: 600;
}

.services .service-box {
    background: #242424;
    border-radius: 3px;
    padding: 0 16px;
    height: 90px;
    margin: 18px 0;
    display: flex;
    align-items: center;
}

.services .service-box-special {
    background: #242424;
    border-radius: 3px;
    padding: 0 16px;
    height: 198px;
    margin: 18px 0;
    display: flex;
    align-items: center;
}

.service-sub-caption {
    font-weight: bold;
    font-size: 18px;
}

.services .service-detail {
    font-size: 14px;
    font-weight: lighter;
}

.image-slider {
    width:45em;
    margin: 0 auto;
    height: 516px;
}

.slide-icon {
    cursor: pointer;
}

.creatives .creative-image {
    width: 100%;
    height: 810px;
}

.creatives .puma {
    width: 281px;
}

.creatives .caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
}

.creatives .description {
    font-size: 16px;
    line-height: 150%;
}

.creatives .video-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    height: 188px;
}

.services .service-box-smart {
    background: #242424;
    border-radius: 3px;
    padding: 0 16px;
    height: 90px;
    margin: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.newrelease {
    background: #2C2C2C;
    padding: 100px 0;
    text-align: center;
}

.newrelease .bg {
    width: 50%;
}

.play-release {
    position: relative;
    bottom: 240px;
    width: 50px;
    cursor: pointer;
}

.playlist-box {
    height: 170px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}

.playlist-box-1{
    background:url("../assets/heat.svg");
}
.playlist-box-2{
    background:url("../assets/almost.svg");
}
.playlist-box-3{
    background:url("../assets/west.svg");
}
.playlist-box-4{
    background:url("../assets/core.svg");
}
.playlist-box-5{
    background:url("../assets/wave.svg");
}
.playlist-box-6{
    background:url("../assets/inspire.svg");
}
.playlist-box-7{
    background:url("../assets/suave.svg");
}
.playlist-box-8{
    background:url("../assets/drill.svg");
}
.playlist-box-9{
    background:url("../assets/detroit.svg");
}
.playlist-box-10{
    background:url("../assets/gamer.svg");
}
.playlist-box-11{
    background:url("../assets/canadian.svg");
}
.playlist-box-12{
    background:url("../assets/atlanta.svg");
}
.playlist-box-13{
    background:url("../assets/disco.svg");
}
.playlist-box-14{
    background:url("../assets/rap.svg");
}
.playlist-box-15{
    background:url("../assets/tecno.svg");
}
.playlist-box-16{
    background:url("../assets/instrument.svg");
}

.playlist-box-01{
    background:url("../assets/drip.svg");
}
.playlist-box-02{
    background:url("../assets/love.svg");
}
.playlist-box-03{
    background:url("../assets/international.svg");
}
.playlist-box-04{
    background:url("../assets/carib.svg");
}
.playlist-box-05{
    background:url("../assets/bord.svg");
}

footer {
    margin: 50px 0;
}

.footer-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    font-weight: normal;
    font-size: 13px;
    margin: 15px 0;
}