@font-face {
    font-family: 'FuturaPTMedium';
    src: local('FuturaPTMedium'), url(../fonts/FuturaPTMedium.otf) format('opentype');
}
@font-face {
    font-family: 'FuturaPTLight';
    src: local('FuturaPTLight'), url(../fonts/FuturaPTLight.otf) format('opentype');
}


body {
    margin: 0;
    padding: 0;
    background: #111;   
    color: #fff;
    font-family: 'FuturaPTMedium', sans-serif;
}



* {
    overflow: auto;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.navbar .dc-logo {
    width: 60px;
}

.about {
    font-size: 17px;
    color: #fff;
    margin: 100px auto;
    
}

.about-text {
    width: 80%;
    margin: 0 auto 80px auto;
    font-weight: 900;
}

.image-slider {
    width:100em;
    margin: 0 auto;
    height: 516px;
}

.slider-item {
    height: 600px;
    overflow: hidden;
}

.slider-item img {
    position: relative;
    bottom: 250px;
}

.slide-icon {
    cursor: pointer;
}

.carousels {
    width: 90%;
    margin: 0 auto;
}

.vid-box {
    overflow: hidden;
}

.ad-box {
    overflow: hidden;
}

.creatives {
    overflow: hidden;
}

.services-caption {
    font-size: 30px;
    font-weight: 600;
}

.services .service-box {
    background: #242424;
    border-radius: 3px;
    padding: 0 16px;
    height: 90px;
    margin: 18px 0;
    display: flex;
    align-items: center;
}

.services .service-box-special {
    background: #242424;
    border-radius: 3px;
    padding: 0 16px;
    height: 198px;
    margin: 18px 0;
    display: flex;
    align-items: center;
}

.service-sub-caption {
    font-weight: bold;
    font-size: 16px;
}

.services .service-detail {
    font-size: 14px;
    font-weight: lighter;
}

.creatives .creative-image {
    height: 810px;
    overflow: hidden;
}

.creatives .puma {
    width: 281px;
}

.creatives .caption {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
}

.creatives .description {
    font-size: 16px;
    line-height: 150%;
}

.creatives .video-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/pumabg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    height: 188px;
}

.services .service-box-smart {
    background: #242424;
    border-radius: 3px;
    padding: 0 16px;
    height: 90px;
    margin: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.newrelease {
    background: #2C2C2C;
    padding: 100px 0;
    text-align: center;
}

.view-newrelease {
    background: #FFF;
    border-radius: 4px;
    font-size: 16px;
    color: #212121;
    padding:  10px 15px;
}

.playlist-box {
    height: 170px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.playlists {
    padding-left: 40px;
    padding-right: 40px;
}

.playlists a {
    color: #fff;
}

.playlist-box-1{
    background:url("../assets/heat.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-2{
    background:url("../assets/almost.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-3{
    background:url("../assets/west.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-4{
    background:url("../assets/core.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-5{
    background:url("../assets/wave.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-6{
    background:url("../assets/inspire.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-7{
    background:url("../assets/suave.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-8{
    background:url("../assets/drill.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-9{
    background:url("../assets/detroit.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-10{
    background:url("../assets/gamer.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-11{
    background:url("../assets/canadian.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-12{
    background:url("../assets/atlanta.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-13{
    background:url("../assets/disco.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-14{
    background:url("../assets/rap.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-15{
    background:url("../assets/tecno.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-16{
    background:url("../assets/instrument.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.playlist-box-01{
    background:url("../assets/drip.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-02{
    background:url("../assets/love.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-03{
    background:url("../assets/international.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-04{
    background:url("../assets/carib.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.playlist-box-05{
    background:url("../assets/bord.svg");
    background-size: cover;
    background-repeat: no-repeat;
}





.ty{
    background: url("../assets/ty.svg");
    height: 500px;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    z-index:1;
    background-repeat: no-repeat;
    background-size: cover;
}

.be {
    background: url("../assets/beyonce.svg");
    height: 500px;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.drake {
    background: url("../assets/drake.svg");
    height: 500px;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
}

.chart-img {
    position: relative;
    bottom: 300px;
    z-index: 2;
}

.play-chart {
    width: 100px;
    cursor: pointer;
}

.chart-box img {
    overflow: hidden;
}


/* PRIVACY PAGE */
.privacy-caption {
    margin: 80px 0;
}

.privacy-body {
    background: #fff;
    padding: 50px 0;
    color: #000;
    font-size: 14px;
}

.privacy-body p {
    line-height: 25px;
}

.title {
    font-weight: 800;
}

.footer {
    margin-top:50px;
    padding: 20px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    font-weight: normal;
    font-size: 13px;
    margin: 25px 0;
}

.copyright {
    font-size: 12px;
    line-height: 14px;
    padding: 15px 0;
}

@media screen and (max-width:1000px){
    .play-release {
        position: relative;
        bottom: 230px;
        width: 50px;
        cursor: pointer;
    }
    .login {
        width: 30%;
        margin-top: 20px;
    }
}

@media screen and (max-width:750px){
    .newrelease .bg {
        width: 90%;
    }

    .play-release {
        position: relative;
        bottom: 230px;
        width: 50px;
        cursor: pointer;
    }
    .creatives .video-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../assets/pumabg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 6px;
        height: 300px;
    }
    
}

@media screen and (max-width:580px){
    .creatives .video-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../assets/pumabg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 6px;
        height: 188px;
        width: 100%;
    }
    .puma-section {
        width: 90%;
    }

    .new-release-section {
        width:100%;
    }
    .playlist-mobile {
        width: 100%;
        margin: 0;
        padding: 0;
    }

.playlists {
    padding-left: 20px;
    padding-right: 20px;
}
}

@media screen and (max-width:500px){
    .newrelease .bg {
        width: 90%;
    }

    .play-release {
        position: relative;
        bottom: 150px;
        width: 50px;
        cursor: pointer;
    }
    .creatives .video-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../assets/pumabg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 6px;
        height: 188px;
        width: 100%;
    }

    .audio-mack-box img {
        width: 100%;
    }
}

@media screen and (max-width:600px){
    footer {
        text-align: center;
    }

    .ty, .drake {
        display: none;
    }
}

@media screen and (max-width:500px){
    .carousel-item-one {
        background: url("../assets/rascal.jpeg");
        background-size: contain;
        width: 90vw;
        height: 50vh;
        padding: 1px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        right: 20px;
    }
    .about {
        font-size: 17px;
        color: #fff;
        margin: 30px auto;
        
    }
    .about-text {
        width: 90%;
        margin: 0 auto 80px auto;
        font-weight: 900;
    }
    
    .carousel-item-two {
        background: url("../assets/slider1.JPG");
        background-size: cover;
        width: 90vw;
        height: 50vh;
        padding: 1px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .carousel-item-three {
        background: url("../assets/slider2.JPG");
        background-size: cover;
        width: 90vw;
        height: 50vh;
        padding: 1px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .slide-icon {
        display: none;
    }
}